@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.0425rem;
}

.h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.03rem;
}

.h6 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.025rem;
}

.description {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.015rem;
}

.body-larger {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.04rem;
}

.body-medium {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.0088rem;
}

.button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
