@tailwind base;
@tailwind components;
@tailwind utilities;

.h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.03rem;
}

.description {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.015rem;
}

.body-larger {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.04rem;
}

.h6 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.025rem;
}


.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* Adjust gap between columns */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* Adjust gap between items */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 15px; /* Adjust gap between rows */
}
